<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<title>
	The fictograph
</title>
</head>
<body>
<div style="padding:20px">
	<h1>
		the fictograph
	</h1>
	<br />
	<p>
	This application shows the <strong>awesomeness of an author's work</strong> chronologically, as measured by their books' average star ratings on Goodreads.	<br />Inspired by the hand-drawn fictographs of Greg Priestman.
	</p>
	<p>
	<form id="authorform" class="form-inline" autocomplete="off" action="{{ url_for('get_plot') }}" method="post">
			<div class="form-group">
				<input name="authorname" class="form-control" autofocus placeholder="Author's name" type="text" id="on_enter">
				<input type="submit" id="graphit" value="Graph it" class="btn btn-secondary active" style="margin-left:5px">
			</div>
		</form>
	</p>
	<script type="text/javascript">
		$('#on_enter').keypress(function(e) {
			if (e.which == 13) {
				submit_form();
				return false;
				}
			});
		var submit_form = function(e) {
			document.getElementById('authorform').submit()
			$('#message').empty().append('<div class="alert alert-dark" role="alert"><strong>Patience!</strong> This will take a long time.</div>')
			};
		$('#graphit').on('click', submit_form);
	</script>
	<div id='message' style='position:absolute;'>
		{{ error_message|safe }}
	</div>
	<div id='plot'>
		<img src='data:image/png;base64, {{ plot_url }}'>
	</div>
</div>
</body>
</html>
